<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Apple</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Orange</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Grapes</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Strawberry</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Banana</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Watermelon</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PineApple</string>
		<key>group</key>
		<string>Evening</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PassionFruit</string>
		<key>group</key>
		<string>Evening</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KiwiFruit</string>
		<key>group</key>
		<string>Evening</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mangoes</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Peaches</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Papaya</string>
		<key>group</key>
		<string>Evening</string>
	</dict>
</array>
</plist>
